body {
    background-color: #aca996;
    color: #4a4a4a;
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.intro-text {
    font-size: 16px;
    line-height: 1.8;
    margin: 30px auto;
    max-width: 700px;
    color: #444;
}

h1, h2, h3 {
    font-family: 'Playfair Display', 'Georgia', serif;
}

.menu-title {
    font-size: 36px;
    margin-top: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #6a4d3b;
}

.bread-note {
    font-size: 16px;
    font-style: italic;
    color: #666;
    margin: 40px auto;
    max-width: 600px;
}

.salads-note {
    font-size: 16px;
    font-style: italic;
    color: #666;
    margin: 40px auto;
    max-width: 600px;
}

.pasta & risotto-note {
    font-size: 16px;
    font-style: italic;
    color: #666;
    margin: 40px auto;
    max-width: 600px;
}

.traditional dishes-note {
    font-size: 16px;
    font-style: italic;
    color: #666;
    margin: 40px auto;
    max-width: 600px;
}
nav {
    margin-top: 30px;
    font-size: 18px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #2c3e50;
}

nav a:hover {
    text-decoration: underline;
}

.category {
    margin: 50px auto;
    padding: 40px;
    background-color: #d6d0bf;
    border-radius: 12px;
    width: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.category h2 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: #ffffff;
    background-color: #8c856d;
    padding: 10px;
    border-radius: 8px;
}

.item-name {
    display: inline-block;
    width: 70%;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    font-family; 'Georgia', serif;
}
    
.item-price {
    display: inline-block;
    width: 20%;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Georgia', serif;
    color: #444;
}

.description {
    font-style: italic;
    font-size: 14px;
    color: #666
    margin-bottom: 20px;
}

