body {
    background-color: #fdfaf7;
    color: #3e3e3e;
    font-family: 'Playfair Dispay', serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 36px;
    color: #7a5c4d;
    margin-top: 40px;
}
h2 {
    color: #6a6a6a;
    text-align: center;
    font-style: italic;
    font-size: 26px;
    margin-top: 40px;
}
.category {
    margin-top: 60px;
    text-align: left;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-botton: 1px solid #e0dcd5;
    font-size: 18px;
}

.item-name {
    font-weight: normal;
}

.item-price {
    color: #7a5c4d;
}

.sub-description {
    font-style: italic;
    color: #888;
    font-size: 15px;
    margin-top: 2px;
}

