<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <title>Μενού Ποτών | Drinks Menu</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>

    <h1>Valantina's Restaurant</h1>
    <p class="lang">Μενού Ποτών / Drinks Menu</p>

    <div class="category">
      <h2>Αναψυκτικά / Soft Drinks</h2>
       <div class="item"><span class="item-name">Pepsi 250ml</span><span class="item-price">3.00€</span></div>
       <div class="item"><span class="item-name"> Pepsi Max 250ml</span><span class="item-price">3.50€</span></div>
       <div class="item"><span class="item-name">Lemonade 250ml</span><span class="item-price">3.00€</span></div>
       <div class="item"><span class="item-name">Orangeade 250ml</span><span class="item-price">3.00€</span></div>
       <div class="item"><span class="item-name"> 7 Up 250ml</span><span class="item-price">3.00€</span></div>
       <div class="item"><span class="item-name">Coca Cola 250ml</span><span class="item-price">3.00€</span></div>
       <div class="item"><span class="item-name">Coca Cola Light 250ml</span><span class="item-price">3.50€</span><div>
       <div class="item"><span class="item-name">Soda 250ml</span><span class="item-price">3.00€</span></div>
       <div class="item"><span class="item-name">Tonic 250ml</span><span class="item-price">3.00€</span></div>
       <div class="item"><span class="item-name">Ice Tea (lemon or peach) 330ml</span><span class="item-price">3.50€</span></div>
       <div class="item"><span class="item-name"> Orange Juice (glass)</span><span class="item-price">3.50€</span></div>
       <div class="item"><span class="item-name"> Apple Juice (glass)</span><span class="item-price">3.50€</span></div>
       <div class="item"><span class="item-name">Pineapple Juice (glass)</span><span class="item-price">3.50€</span></div>
       <div class="item"><span class="item-name"> Fresh Orange Juice</span><span class="item-price">5.00€</span></div>
       <div class="item"><span class="item-name">Table Water 500ml</span><span class="item-price">1.50€</span></div>
       <div class="item"><span class="item-name"> Table Water 1L</span><span class="item-price">2.50€</span></div>
       <div class="item"><span class="item-name">Sparkling Water 330ml</span><span class="item-price">3.50€</span></div>
       <div class="item"><span class="item-name">  Sparkling Water 1L</span><span class="item-price">6.00€</span></div>		
    </div>

    <div class="category">
      <h2>Καφές / Coffee</h2>
       <div class="item"><span class="item-name">Nescafe Coffee</span><span class="item-price">2.50€</span></div>
       <div class="item"><span class="item-name">Espresso</span><span class="item-price">2.50€</span></div>
       <div class="item"><span class="item-name">Cappuccino</span><span class="item-price">3.00€</span></div>
       <div class="item"><span class="item-name">Greek Coffee</span><span class="item-price">2.50€</span></div>
       <div class="item"><span class="item-name">Tea</span><span class="item-price">2.00€</span></div>
       <div class="item"><span class="item-name">Irish Coffee (with whiskey)</span><span class="item-price">5.50€</span></div>
       <div class="item"><span class="item-name">Calypso Coffee (with Tia Maria</span><span class="item-price">5.50€</span><div>
       <div class="item"><span class="item-name">Bailey's Coffee</span><span class="item-price">5.50€</span></div>
    </div>

    <div class="category">
      <h2>Ούζο & Τσίπουρο / Ouzo & Tsipouro</h2>
       <div class="item"><span class="item-name">Ouzo Varvagiannis 200ml</span><span class="item-price">10.00€</span></div>
       <div class="item"><span class="item-name">Ouzo Plomariou 200ml</span><span class="item-price">10.00€</span></div>
       <div class="item"><span class="item-name">Tsipouro Daraios 200ml</span><span class="item-price">12.00€</span></div> 
    </div>

    <div class="category">
      <h2>Αλκοολούχα Ποτά / Spirits</h2>
      <div class="item"><span class="item-name">Wiskey</span><span class="item-price">6.00€</span></div>
      <div class="item"><span class="item-name">Vodka</span><span class="item-price">6.00€</span></div>
      <div class="item"><span class="item-name">Gin</span><span class="item-price">6.00€</span></div>
      <div class="item"><span class="item-name">Bacardi</span><span class="item-price">6.00€</span></div>
      <div class="item"><span class="item-name">Martini</span><span class="item-price">6.00€</span></div>
      <div class="item"><span class="item-name">Campari</span><span class="item-price">6.00€</span></div>
      <div class="item"><span class="item-name">Baileys</span><span class="item-price">7.00€</span><div>
      <div class="item"><span class="item-name">Malibu</span><span class="item-price">6.00€</span></div>
      <div class="item"><span class="item-name">Cointreau</span><span class="item-price">6.00€</span></div>
      <div class="item"><span class="item-name">Tia Maria</span><span class="item-price">6.00€</span></div>
      <div class="item"><span class="item-name">Drambuie</span><span class="item-price">6.00€</span></div>
      <div class="item"><span class="item-name">Southern Comfort</span><span class="item-price">6.00€</span></div>
      <div class="item"><span class="item-name">Metaxa 3*</span><span class="item-price">5.00€</span></div>
      <div class="item"><span class="item-name">Metaxa 5*</span><span class="item-price">6.00€</span></div>
      <div class="item"><span class="item-name">Metaxa 7*</span><span class="item-price">7.00€</span></div>
    </div>
	
	<div class="category">
      <h2>Μπύρες / Beer</h2>
       <div class="item"><span class="item-name">Mythos 500ml</span><span class="item-price">5.00€</span></div>
       <div class="item"><span class="item-name">Heineken 500ml</span><span class="item-price">5.00€</span></div>
       <div class="item"><span class="item-name">Alfa 500ml</span><span class="item-price">5.00€</span></div>
       <div class="item"><span class="item-name">Pils Hellas 500ml</span><span class="item-price">5.00€</span></div>
       <div class="item"><span class="item-name">Beck’s 275ml</span><span class="item-price">4.20€</span></div>
       <div class="item"><span class="item-name">Militsa Cider 330ml</span><span class="item-price">4.50€</span></div>
       <div class="item"><span class="item-name">Pils Radler (Lemon) 330ml</span><span class="item-price">3.90€</span><div>
       <div class="item"><span class="item-name">Pils Alcohol Free 330ml</span><span class="item-price">3.90€</span></div>
       <div class="item"><span class="item-name">Draft Beer (small)</span><span class="item-price">4.50€</span></div>
       <div class="item"><span class="item-name">Draft Beer (large)</span><span class="item-price">5.00€</span></div>
    </div>
	
	<div class="category">
      <h2>Χύμα Κρασί / House Wine (Carafe)</h2>
       <div class="item"><span class="item-name">White (dry or medium sweet)-500ml</span><span class="item-price">9.00€</span></div>
       <div class="item"><span class="item-name">White (dry or medium sweet)-250ml</span><span class="item-price">5.00€</span></div>
       <div class="item"><span class="item-name">Red (dry or medium sweet)-500ml</span><span class="item-price">9.00€</span></div>
       <div class="item"><span class="item-name">Red (dry or medium sweet)-250ml</span><span class="item-price">5.00€</span></div>
       <div class="item"><span class="item-name">Rose (dry or medium sweet)-500ml</span><span class="item-price">9.00€</span></div>
       <div class="item"><span class="item-name">Rose (dry or medium sweet)-250ml</span><span class="item-price">5.00€</span></div>
       <div class="item"><span class="item-name">Retsina 500ml</span><span class="item-price">6.00€</span><div>
    </div>
	
	<div class="category">
      <h2>Λευκά Κρασιά / White Wines</h2>
       <div class="item"><span class="item-name">Sauvignon Blanc (750ml)</span><span class="item-price">25.00€</span></div>
       <div class="item"><span class="item-name">Orivatis Blue (150ml / 750ml)</span><span class="item-price">7.00€ / 28.00€</span></div>
       <div class="item"><span class="item-name">MaMa Malagouzia (750m)</span><span class="item-price">30.00€</span></div>
       <div class="item"><span class="item-name">Mavri Spilia (750ml)</span><span class="item-price">36.00€</span></div>
       <div class="item"><span class="item-name">Malagouzia (150ml / 750ml)</span><span class="item-price">10.00€ / 39.00€</span></div>
    </div>
	
	<div class="category">
      <h2>Ερυθρά Κρασιά / Red Wines</h2>
       <div class="item"><span class="item-name">Makri Lithari(750ml)</span><span class="item-price">20.00€</span></div>
       <div class="item"><span class="item-name">Cabernet Sauvignon(750ml)</span><span class="item-price">22.00€</span></div>
       <div class="item"><span class="item-name">Syrah (150ml / 750ml)</span><span class="item-price">8.00€ / 26.00€</span></div>
       <div class="item"><span class="item-name">Portes(750ml)</span><span class="item-price">32.00€</span></div>
       <div class="item"><span class="item-name">Nemea(150ml / 750ml)</span><span class="item-price">12.00€ / 39.00€</span></div>
       <div class="item"><span class="item-name">Silver(750ml)</span><span class="item-price">44.00€</span></div>
    </div>
	
	<div class="category">
      <h2>Ροζέ Κρασιά / Rosé Wines</h2>
       <div class="item"><span class="item-name">Cabernet Sauvignon(750ml)</span><span class="item-price">24.00€</span></div>
       <div class="item"><span class="item-name">Diva(150ml / 750ml)</span><span class="item-price">7.00€/ 27.00€</span></div>
       <div class="item"><span class="item-name">Petra (750ml)</span><span class="item-price">29.00€</span></div>
       <div class="item"><span class="item-name">More (150ml / 750ml)</span><span class="item-price">10.00€/ 31.00€</span></div>
       <div class="item"><span class="item-name">Petite Fleur(750ml)</span><span class="item-price">33.00€</span></div>
       <div class="item"><span class="item-name">Apiro(750ml)</span><span class="item-price">35.00€</span></div>
    </div>
	
	<div class="category">
      <h2>Αφρώδη Κρασιά / Sparkling Wine & Champagne</h2>
       <div class="item"><span class="item-name">The Blender Brut(750ml)</span><span class="item-price">25.00€</span></div>
       <div class="item"><span class="item-name">Prosecco- Italy (200ml)</span><span class="item-price">9.00€</span></div>
       <div class="item"><span class="item-name">Moschato Bubbly(750ml)</span><span class="item-price">32.00€</span></div>
       <div class="item"><span class="item-name">Moschato Strawberry(750ml)</span><span class="item-price">35.00€</span></div>
       <div class="item"><span class="item-name">Moschato Strawberry(200ml)</span><span class="item-price">10.00€</span></div>
    </div>
	

	
    <div style="margin-top: 50px;">
      <a href="/reservation" style="background: #8b0000; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px;">
        Κάντε Κράτηση / Book a Table
      </a>
    </div>

</body>
</html>
